.help-container {
    margin:30px auto;
    position: relative;
    overflow: hidden;
    font-family: 'Roboto';
    font-weight: 400;
}
.help-container:hover .sprBlContainer {
    filter: blur(3px);
}
@media (max-width: 1024px) {
    .help-container:hover .sprBlContainer {
        filter: none;
    }
}
.sprBlContainer {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 100%;
    transition: .4s all;
    color: #000 !important;
}
.hoverCont {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 999999;
    transition: .5s all;
    filter: blur(0px);
}
@media (max-width: 1024px) {
    .hoverCont {
        display: none;
    }
}
.hoverCont .hoverTitle {
    transition: .35s top;
    position: absolute;
    top: -80px;
    font-size: 26px;
    line-height: 26px;
    font-weight: 500;
    color: #fff;
    position: relative;
    z-index: 9999;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(13px);
    filter: blur(0px);
}
@media (max-width: 768px) {
    .hoverCont .hoverTitle {
        font-size: 15px;
        line-height: 20px;
    }
}
.hoverCont .hoverBtn {
    transition: .35s all;
    position: absolute;
    bottom: -80px;
    background: #EC5956 !important;
}
.hoverCont .hoverBtn:hover {
    background: #AC0609 !important;
}
.hoverCont .hoverAnimaine {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hoverCont:hover {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
}
.hoverCont:hover .hoverTitle {
    top: 38px;
}
.hoverCont:hover .hoverBtn {
    bottom: 38px;
}
.sprBlElement {
    width: 16.6666667%;
    height: 100%;
    box-sizing: border-box;
    display: block;
}
@media (max-width: 1171px) {
    .sprBlElement {
        width: 20%;
    }
}
@media (max-width: 768px) {
    .sprBlElement {
        width: 25%;
    }
}
@media (max-width: 640px) {
    .sprBlElement {
        width: 100%;
        height: 249px !important;
    }
    .sprBlElement .pad-4-4 {
        padding: 0px;
        height: 100%;
    }
}
@media (max-width: 480px) {
    .sprBlElement {
        width: 100%;
        height: 229px !important;
    }
    .sprBlElement .pad-4-4 {
        padding: 0px;
        height: 100%;
    }
}
@media (max-width: 1170px) {
    .sprBlElement:nth-of-type(6n) {
        display: none !important;
    }
}
@media (max-width: 768px) {
    .sprBlElement:nth-of-type(5n) {
        display: none !important;
    }
}
@media (max-width: 640px) {
    .sprBlElement:nth-of-type(5n) {
        display: block !important;
    }
}
@media (max-width: 640px) {
    .sprBlElement:nth-of-type(2n) {
        display: none !important;
    }
}
@media (max-width: 640px) {
    .sprBlElement:nth-of-type(4n) {
        position: absolute;
        background: rgba(0, 0, 0, 0.8) !important;
        display: block !important;
        z-index: 9;
        opacity: 0;
        transition: 1s opacity;
    }
}
.pad-4-4 {
    width: 100%;
    padding-bottom: 100%;
    height: 0px;
    position: relative;
    opacity: 1;
    transition: 0.4s margin-top;
}
.sprBlElement__bg {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    position: absolute;
    top: 0;
    transition: .4s background;
    bottom: 0;
    right: 0;
    left: 0;
}
.sprBlLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sprBlLogo img {
    height: 119px;
}
@media (max-width: 1024px) {
    .sprBlLogo img {
        height: 90px;
    }
}
.sprBlLogoMob {
    display: none;
}
@media (max-width: 640px) {
    .sprBlLogoMob {
        display: flex;
    }
}
.sprBlTitle {
    padding: 15px;
    text-align: center;
}
.sprBlTitle .sprBlElement__bg {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sprBlTitle span {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    display: inline-table;
}
@media (max-width: 1024px) {
    .sprBlTitle span {
        font-size: 17px;
        line-height: 20px;
    }
}
@media (max-width: 768px) {
    .sprBlTitle span {
        font-size: 15px;
        line-height: 20px;
    }
}
@media (max-width: 640px) {
    .sprBlTitle span {
        color: #fff;
        font-size: 20px;
        line-height: 26px;
    }
}
@media (max-width: 640px) {
    .sprBlTitle {
        padding: 20px !important;
        display: block !important;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
    .sprBlTitle span {
        margin-top: 200px;
    }
    .sprBlTitle button {
        width: max-content;
        width: -webkit-max-content;
        padding-right: 40px;
        padding-left: 40px;
        margin-top: 200px;
    }
    .sprBlTitle .sprBlElement__bg {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sprBlTitle .sprBlElement__bg img {
        margin-bottom: 13px;
    }
}
.sprBlText {
    display: none;
    padding: 8px 15px;
    text-align: center;
    display: inline-flex;
    align-items: center;
}
.sprBlText span {
    font-size: 14px;
    line-height: 19px;
    display: inline-table;
}
.sprBlActionBtn {
    margin-top: 15px;
    position: relative;
    width: auto;
    border: none;
    outline: none;
    background: #2055b3;
    border-radius: 100px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    transition: all 0.4s;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 22px;
    padding-right: 22px;
    cursor: pointer;
}
.sprBlActionBtn span {
    display: block;
    font-size: 15px;
    line-height: 16px;
    font-weight: bold;
    width: auto;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    margin: 0px;
    color: #fff;
}
.btnCancel {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999999999;
    cursor: pointer;
    transition: .2s opacity;
}
.btnCancel:hover .sprBlContainer {
    filter: blur(0px) !important;
}
.miniTitle {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999999999;
    font-size: 11px;
    color: #737373;
    padding: 3px 6px;
    background: rgba(255, 255, 255, 0.9);
    border-bottom-right-radius: 3px;
}
.miniTitle .titleComp {
    color: #142A93;
    cursor:pointer;
}
.m-0 {
    margin-top: 0%;
}
.top {
    margin-top: -100%;
    opacity: 0;
}

@media (max-width: 640px) {
    #img_animaine {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@keyframes last-step {
    from {
        left: 500px ;
    }
    to {
        left: 0px ;
    }
}
.last-step {
    opacity: 1 !important;
}
.last-step span {
    margin-top: 0;
}
.last-step button {
    margin-top: 15px;
}

@keyframes leftCenter {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
.left-center {
    animation-iteration-count: 1;
  -webkit-animation: leftCenter 0.25s;
  animation: leftCenter 0.25s;
}

@keyframes rightCenter {
  from {
    left: 100% ;
  }
  to {
    left:  0% ;
  }
}
.right-center {
    animation-iteration-count: 1;
    -webkit-animation: rightCenter 0.25s;
    animation: rightCenter 0.25s;
}

@keyframes top-down {
    from {
        top: -100%;
    }
    to {
        top: 0%;
    }
}
.top-a {
    animation-iteration-count: 1;
    -webkit-animation: top-down 0.5s;
    animation: top-down 0.5s;
}
