.imgmap{position:relative; left: 0; top:0; background-position: center }
.imgmap_fade{position: absolute; left: 0;  top: 0; width: 100%; height: 100%}
.imgmap_fade:before{content:''; transition: opacity 0.5s ease-out; position: absolute; left: 0;  top: 0;  opacity: 0;
  background: #000; width: 100%; height: 100%;}
.imgmap_fade:after { content: 'Кликните для активации карты';  font-size: 25px; color: #FFF; text-align: center; display: block; position: absolute; width: 100%;
  top: 50%; left: 0; opacity: 0; }

@keyframes bouncing{
  0%  {top:50%; opacity: 0.5}
  100% {top:45%; opacity: 1}
}
.imgmap_fade.loader:before{opacity: 0.5;}
.imgmap_fade.loader:after {
  content: 'Загрузка';
  animation: bouncing 0.5s cubic-bezier(0.1,0.25,0.1,1) 0s infinite alternate both; ;
}

.imgmap_fade:hover:before{opacity: 0.5}
.imgmap_fade:hover:after{opacity: 1}
.fade_loader{position:absolute; width: 100%; height: 100%}




