<?php

/* @var $model AboutModel */
/* @var $view AboutView */

?>

<div id="main_wrap">

    <div class="ineer_wrap">

        <div class="sidebar">

            <a href="/park/focus" class="button">Отраслевой фокус</a>
            <a href="/park/news" class="button">Новости</a>
            <a href="/park/partners" class="button">Партнеры</a>

        </div>

        <div id="main_text" class="inner_content">

            <hr>

            <p>С 2020 года ООО «ГеоРостГрупп» готовит к реализации проект создания Экотехнопарка.</p>

            <p>Концепция основывается на:</p>
            <ul class="list">
                <li>комплексном подходе к решению проблемы глубокой переработки промышленных отходов, ликвидации накопленного экологического вреда окружающей среде;</li>
                <li>создании собственных генерирующих мощностей для обеспечения электроэнергий и теплом предприятий парка;</li>
                <li>строительстве технологически связанных предприятий;</li>
                <li>использовании инновационных технологий, обеспечивающих экологическую безопасность, а также конкурентноспособности продукции предприятий парка за счет собственной энергетической базы;</li>
                <li>возможности привлечения стратегических партнеров как в отдельные проекты, так и в проект по созданию и эксплуатации Экотехнопарка в целом.</li>
            </ul>
            <br>
            <p>В рамках Экотехнопарка планируется создание современных и высокоэффективных предприятий по следующим направлениям:</p>

            <ul style="list-style-type: numeric;padding-left: 40px">
                <li>Генерация электроэнергии и тепла на основе термической переработки промышленных отходов.</li>
                <li>Создание центра обработки данных (дата-центра).</li>
                <li>Металлургический комплекс для выплавки аустенитных марок стали.</li>
                <li>Производство немагнитных утяжеленных бурильных труб и ведущих бурильных труб.</li>
                <li>Производство твердых сплавов и инструмента.</li>
                <li>Производство геофизического оборудования.</li>
            </ul>
            <br>
            <p><b>Текущий статус проекта по созданию Экотехнопарка:</b></p>
            <ul class="list" style="list-style-type: numeric;">
                <li>Сформирована проектная команда по подготовке инвестиционного проекта. В подготовке принимали участие специалисты, имеющие опыт в проектировании и реализации проектов следующих компаний:
                    <ul class="list">
                        <li>ООО «Бизнес-информ» г. Москва;
                        <li>ООО «Техмаш» УР, г. Ижевск;
                        <li>ООО  ППО «Технолог» УР, г. Ижевск;
                        <li>ЗАО «Прикампромпроект» УР, г. Ижевск;
                        <li>ООО «Проектно-конструкторский институт «Промпроект» УР, г. Ижевск;
                        <li>ООО «Студия урбанистики» УР, г. Ижевск.
                    </ul>
                </li>
                <li>
                    Проведены маркетинговые исследования соответствующих рынков и конкурентной среды, подготовлена концепция создания Экотехнопарка,
                    технико-экономическое обоснование по каждому направлению, подготовлены сводные сметы на строительство объектов парка.
                </li>
                <li>
                    Выбрана уникальная технология для термической переработки промышленных отходов экологически безопасная и не имеющая мировых аналогов.
                    Заключен договор о сотрудничестве с владельцем патента на данную технологию для ее дальнейшего внедрения.
                </li>
                <li>
                    Специалистами ООО «ТЭПэнерго» ( г. Москва ) разработано технико-коммерческое предложение на проектировние и
                    строительство тепловой электростанции на основе термической переработки промышленных отходов.
                </li>
                <li>
                    Подписан Протокол о намерениях на проектирование завода по производству геофизического оборудования и
                    завода по производству твердых сплавов с ООО «Проектно-конструкторский институт «Промпроект» от 22.12.2017 года №12.
                </li>
                <li>
                    Подписаны Соглашения о сотрудничестве с технологическими партнерами:
                    <ul class="list">
                        <li>ФГБОУ ВО «Санкт-Петербургский горный университет»;
                        <li>Государственный научный центр РФ «Троицкий институт инновационных и термоядерных исследований»;
                        <li>НИТУ «МИСиС» , г. Москва;
                        <li>Сибирское отделение РАН, г. Новосибирск;
                        <li>ФГУП «Всероссийский научно-исследовательский проектный институт твердых сплавов и тугоплавких металлов, г. Москва;
                        <li>ФГБУ Институт металлургии и материаловедения им. А.А.Байкова, г. Москва;
                        <li>ООО «Оникс. Объединенные технологические решения», г. Москва.
                    </ul>
                </li>
                <li>
                    Для формата «greenfield» подготовлена схема Генерального плана комплексапарка, отражающая все
                    особенности ландшафта и с учетом решения всех экологических проблем. Разработан мастер-план.
                </li>
                <li>
                    Определены две потенциальные инвестиционные площадки в Республике Башкортостан для реализации проекта
                    как в формате «greenfield», так и в формате «brownfield».
                </li>
                <li>
                    Определен перечень потенциальных партнеров-инвесторов и механизмы вхождения в проект. Ведутся переговоры.
                </li>
                <li>
                    Определен перечень необходимого оборудования для комплектации предприятий по ткаждому направлению.
                    Выбраны поставщики оборудования, проведены предварительные переговоры о поставках.
                </li>
                <li>
                    Осуществляется взаимодействие с министерствами и ведомствами Республики Башкортостан,
                    Администрацией муниципального городского округа город Уфа по подготовке инвестиционной площадки и проекта к реализации.
                </li>
            </ul>

            <hr>

        </div>

    </div>
</div>